$primary: #6f8ff0;
$primary-hover: #86a2f5;
$primary-pressing: #5d7fe5;

$secondary: #a2b3f6;
$secondary-hover: #d0daff;
$secondary-pressing: #86a2f5;

$status-positive: #6bbea0;
$status-in-progress: #a3dec8;
$status-negative: #d35355;

$bg-black: #33343d;
$bg-transparency: #ffffff12;
$bg-transparency-hover: #ffffff26;
$bg-transparency-pressing: #ffffff08;
$bg-transparency-active: #f1f1f140;
$bg-positive: #6bbea033;

$text-black: #33343d;
$text-light-grey: #f1f1f1;
$text-unavailable: #f1f1f180;
$text-pressing: #f1f1f133;

$card-green: #d5ffe8;
$card-blue: #d2e8ff;
$card-purple: #eadcff;
$card-pink: #ffe3fd;
