@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima\ Nova/proximanova_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima\ Nova/proximanova_bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

$main-font: 'Proxima Nova';
